.git
.agent
.cache
.deploy
.env
.env.*
!.env.example
!packages/neuro-book/.env.example
!packages/neuro-book/.env.docker.example
!packages/neuro-book/.env.product
.idea
.nitro
.nuxt
.output
packages/*/.nuxt
packages/*/.output
packages/*/.data
.runtime
coverage
dist
logs
node_modules
out-tsc
server/generated/prisma
packages/**/data.db
packages/**/data.db-*
packages/**/server/generated/prisma
tmp
workspace
config.yaml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
